{% extends 'base.html' %}
{% block title %}Passwort ändern{% endblock %}
{% block content %}
{% load static %}

    <div id="content-container" class="container p-none">
        <div class="lgn-container ">          
        <style type="text/css">
            body { 
            background: url('{% static "img/login-background.jpg" %}') no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
           
            }
            .password-form {
		        width: 350px;
		        margin: 30px auto;
		        text-align: center;
                opacity: .8;
    	    }

            .password-form h2 {
                margin: 10px 0 25px;
            }
            .password-form form {
		        color: #7a7a7a;
		        border-radius: 10px;
    	        margin-bottom: 15px;
                background:rgb(87, 77, 42);
                box-shadow: 0px 2px 2px rgba(63, 63, 63, 0.3);
                padding: 30px;
            }
            .password-form .btn {        
                font-size: 16px;
                font-weight: bold;
		        background: #314653;
		        border: none;
                outline: none !important;
            }
	        .password-form .btn:hover, .password-form .btn:focus {
		        background: #128837;
	        }
	        .password-form a {
		        color: #fff;
		        text-decoration: underline;
	        }
	        .password-form a:hover {
		        text-decoration: none;
	        }
	        .password-form form a {
		        color: #7a7a7a;
		        text-decoration: none;
	        }
	        .password-form form a:hover {
		        text-decoration: underline;
	        }
        </style>
        <div class="password-form">
            <form id="password-form" method="post">
                {% csrf_token %}
                {{form.as_p}}
                {% if form.errors %}
                    <p class=" label label-danger">
                        Bitte altes und neues Password prüfen
                    </p>
                {% endif %}

                <input type="submit" value="Passwort ändern" 
                       class="btn btn-primary pull-right" />
            </form>
        </div>
        </div>
    </div>
{% endblock content %}
