{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
{% load static %}

    <div id="content-container" class="container p-none">
        <div class="lgn-container ">          
        <style type="text/css">
            body { 
            background: url('{% static "img/login-background.jpg" %}') no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
           
            }
            .login-form {
		        width: 350px;
		        margin: 30px auto;
		        text-align: left;
                opacity: .8;
    	    }

            .login-form h2 {
                margin: 10px 0 25px;
            }
            .login-form form {
		        color: #7a7a7a;
		        border-radius: 10px;
    	        margin-bottom: 15px;
                background:rgb(87, 77, 42);
                box-shadow: 0px 2px 2px rgba(63, 63, 63, 0.3);
                padding: 30px;
            }
            .login-form .btn {        
                font-size: 16px;
                font-weight: bold;
		        background: #314653;
		        border: none;
                outline: none !important;
            }
	        .login-form .btn:hover, .login-form .btn:focus {
		        background: #128837;
	        }
	        .login-form a {
		        color: #fff;
		        text-decoration: underline;
	        }
	        .login-form a:hover {
		        text-decoration: none;
	        }
	        .login-form form a {
		        color: #7a7a7a;
		        text-decoration: none;
	        }
	        .login-form form a:hover {
		        text-decoration: underline;
	        }
        </style>
        <div class="login-form">
            <form id="login-form" method="post">
                {% csrf_token %}
                <table class="table">
                    <tr>
                        <td><label for="id_username" style="color: white;">E-Mail</label></td>
                        <td><input id="id_username" name="username" 
                                   type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label for="id_password" style="color: white;">Passwort</label></td>
                        <td><input id="id_password" name="password" 
                                   type="password" class="form-control"></td>
                    </tr>
                </table>
                {% if form.errors %}
                    <p class=" label label-danger">Deine E-Mail und Passwort stimmen nicht überein.</p>
                    <p class=" label label-danger">Hast du dein Konto schon bestätigt?</p>
                    
                {% endif %}
                <p style="color: white;">Du hast noch kein Konto? 
                  <a href="{% url 'signup' %}"" style="color: white; text-decoration: underline white;">Hier registrieren</a>
                </p>
                <p style="color: white;">Passwort vergessen? 
                    <a href="{% url 'password_reset' %}"" style="color: white; text-decoration: underline white;">Hier zurücksetzen</a>
                  </p>
                <input type="submit" value="Login" 
                       class="btn btn-primary pull-right" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
        </div>
    </div>
{% endblock content %}
