<!--Author: Jonas-->
<!--Quelle: https://github.com/maxg203/Django-Tutorials/tree/master/accounts/templates/accounts-->
<!--Quelle: https://docs.djangoproject.com/en/3.1/topics/email/ -->
<!--Quelle: https://learndjango.com/tutorials/django-password-reset-tutorial -->
{% extends 'base loggedout.html' %}
{% block content%}
<div class="text-center" style="width: 80%; margin: 0 auto">
   <h1>Bitte check deinen Posteingang!</h1>
   <h5>Wir haben die einen Link zum Passwort zurücksetzen gesendet!</h5><br>
   <h6 style="width: 60%; margin: 0 auto">Falls du keine Email erhalten hast, bitte überprüfe deine Eingaben.</h6>
</div>
<div class="text-center">
  <a href="{% url 'login' %}" id="login_link">Zurück zum Login</a>
</div>
{% endblock%}