{% extends 'base.html' %}
{% block title %}Password zurücksetzen{% endblock %}
{% block content %}
{% load static %}

<div id="content-container" class="container p-none">
    <div class="lgn-container ">   
    <style type="text/css">
    body { 
    background: url('{% static "img/login-background.jpg" %}') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
    }
    .set-passwort-form {
        width: 550px;
        margin: 30px auto;
        text-align: left;
        opacity: .8;
    }

    .set-passwort-form h2 {
        margin: 10px 0 25px;
    }
    .set-passwort-form form {
        color: #7a7a7a;
        border-radius: 10px;
        margin-bottom: 15px;
        background:rgb(87, 77, 42);
        box-shadow: 0px 2px 2px rgba(63, 63, 63, 0.3);
        padding: 30px;
    }
    .set-passwort-form .btn {        
        font-size: 16px;
        font-weight: bold;
        background: #314653;
        border: none;
        outline: none !important;
    }
    .set-passwort-form .btn:hover, .set-passwort-form .btn:focus {
        background: #128837;
    }
    .set-passwort-form a {
        color: #fff;
        text-decoration: underline;
    }
    .set-passwort-form a:hover {
        text-decoration: none;
    }
    .set-passwort-form form a {
        color: #7a7a7a;
        text-decoration: none;
    }
    .set-passwort-form form a:hover {
        text-decoration: underline;
    }
    </style>

<div class="text-center" style="width: 80%; margin: 0 auto">
  <h1 style="color: white;">Lege dein neues Passwort fest</h1>
</div>
<br/>
<div class="set-passwort-form">
<form id="set-passwort-form" method="POST" class="text-center">
    {% csrf_token %}
    <table class="table">
        <tr>
            <td><label for="id_new_password1" style="color: rgb(255, 255, 255);">Neues Passwort</label></td>
            <td><input id="id_new_password1" name="new_password1" 
                       type="password" class="form-control"></td>
        </tr>
        <tr>
            <td><label for="id_new_password2" style="color: rgb(255, 255, 255);">Neues Passwort bestätigen</label></td>
            <td><input id="id_new_password2" name="new_password2" 
                       type="password" class="form-control"></td>
        </tr>
    </table>
    <input type="submit" value="Zurücksetzen">
  </form><br/>
  <div class="text-center">
    <a href="{% url 'login' %}">Zurück zum Login</a>
  </div>
{% endblock %}