<!--Author: Jonas-->
<!--Quelle: https://github.com/maxg203/Django-Tutorials/tree/master/accounts/templates/accounts-->
<!--Quelle: https://docs.djangoproject.com/en/3.1/topics/email/ -->
<!--Quelle: https://learndjango.com/tutorials/django-password-reset-tutorial -->
{% extends 'base loggedout.html' %}
{% block content%}
<div class="text-center" style="width: 80%; margin: 0 auto">
  <h1>Passwort erfolgreich zurückgesetzt</h1>
  <h6 style="width: 60%; margin: 0 auto">
    Dein Passwort wurde erfolgreich zurückgesetzt. Gehe zum Login und melde dich an.
  </h6>
</div>
<br />
<div class="text-center">
  <a href="{% url 'login' %}" id="login_link">Login</a>
</div>
{% endblock%}