{% load i18n %}{% autoescape off %}
Hallo {{user.Vorname }},

{% blocktranslate %}Du erhälst diese Email weil du dein Passwort für {{ site_name }} zurücksetzen möchtest.{% endblocktranslate %}
{% translate "Bitte besuche folgenden Link und setze dein Passwort zurück:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'Dein Username lautet:' %} {{ user.get_username }}
{% translate "Danke, dass du ManageYourClub verwendest." %}

{% blocktranslate %}Dein {{ site_name }}-Support{% endblocktranslate %}

{% endautoescape %}