{% extends 'base.html' %}

{% block title %}Password vergessen?{% endblock %}

{% block content %}
<div class="text-center" style="width: 80%; margin: 0 auto">
  <h1>Du hast dein Passwort vergessen?</h1>
  <p>Gib unten deine verknüpfte Email-Adresse ein und setze es zurück.</p>
</div>
<br/>
<form method="POST" class="text-center">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Zurücksetzen">
  </form><br/>
  <div class="text-center">
    <a href="{% url 'login' %}">Zurück zum Login</a>
  </div>
{% endblock %}