{% extends 'base.html' %}
{% block content %}
  <h2>Registrieren</h2>
  <form method="post">
    {% for field in user_form %}
    {% csrf_token %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    {% for field in profile_form %}
    <p>
      {{ field.label_tag }}<br>
      {{ field }}
      {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
  {% endfor %}
    <button type="submit">Registrieren</button>
  </form>
    <p>Du hast bereits ein Konto? 
      <a href="{% url 'login' %}">Hier anmelden</a>
    </p>
  </form>
{% endblock %}