manageyourclub/manageyourclub/clubs/__pycache__/*
manageyourclub/manageyourclub/__pycache__/*
manageyourclub/users/__pycache__/*
.cache/pip/http/0/e/
.cache/pip/http/5/
.cache/pip/http/e/7/
.cache/pip/wheels/
.joe_state
.virtualenvs/mycvirtualenv/
