manageyourclub/manageyourclub/clubs/__pycache__
manageyourclub/manageyourclub/__pycache__
manageyourclub/users/__pycache__
manageyourclub/clubs/__pycache__
 manageyourclub/db.sqlite3  
.cache/pip/http/0/e/
.cache/pip/http/5/
.cache/pip/http/e/7/
.cache/pip/wheels/
.joe_state
.virtualenvs/mycvirtualenv/
.cache
.local
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Migrations
migrations/
