<!--Author: Max
Template zur Darstellung der Beitrittsanfragen/ Mitteilungen des Ausgewählten vereins
aktuell nicht in nutzung-->
{% extends 'table.html' %}

{% block aboveTable %}
<h1 style="color: rgb(0, 0, 0); text-align: center;">Mitgliedschaftsantrag</h1>
{% endblock aboveTable %}

{% block tablehead %}
    <th>Feldname</th>
    <th>Inhalt</th>
{% endblock tablehead %}
<!--

TODO: Für registrierte und nicht registrierte implementieren

-->

{% block tablerows %}
        
    {% for membership_field in membership_applicant_data %}
    <!--Darstellung der Daten die im Membership Modell gespeichert wurden-->
        <tr>
            <td>{{ membership_field.0 }}</td>
            <td>{{ membership_field.1 }}</td>
        </tr>
    {% endfor %}
    
    {% for key, value in json.items %}
    <!--Darstellung der Daten die im CustomMembershipData Modell als Json gespeichert wurden-->
        <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
        </tr>
    {% endfor %}

{% endblock tablerows %}


{% block underTable %}
<form action="{% url 'acceptRequestMembership' request_data=membership.number club=membership.club.id %}" method="post" style="display:inline;" id="accept_request_form_{{ forloop.counter }}">
    {% csrf_token %}
    <!--Annahme-Button für Beitrittsanfragen-->
    <button type="submit" name="membershipId" class="btn btn-default" style="margin-left: 4px; border-color: transparent; background-color: var(--vema-blue); color:var(--bg-color);" value="{{ clubRqu.id }}" form="accept_request_form_{{ forloop.counter }}" id="accept_request_button_{{ forloop.counter }}">
        Annehmen
    </button>
</form>
<form action="{% url 'declineRequestMembership' request_data=membership.number club=membership.club.id %}" method="post" id="decline_request_form_{{ forloop.counter }}" style="display:inline;">
    {% csrf_token %}
    <!--Ablehnungsbuttons für Beitrittsanfragen-->
    <button type="submit" name="clubRquId" class="btn btn-default" style="margin-left: 4px; border-color: transparent; background-color: var(--vema-blue); color:var(--bg-color);" value="{{ clubRqu.id }}" form="decline_request_form_{{ forloop.counter }}" id="decline_request_button_{{ forloop.counter }}">
        Ablehnen
    </button>
</form>
<a href="{% url 'home' club=membership.club.id %}" id="zurück_link">
    <button type="button" class="btn btn-default" style="margin-left: 4px; border-color: transparent; background-color: var(--vema-blue); color:var(--bg-color);" id="zurück_button">
        Zurück
    </button>
</a>
{% endblock underTable %}