{% for field in customForm %}
    <!-- fields pre-text -->
    {{ field.field.pre_text }}

    {% if field.field.widget.input_type != 'hidden' %}
    <div style="padding: 0 0 1rem">
        <!-- field label -->
        <b>{{ field.label_tag }}</b>
        {% if field.field.required %}*{% endif %}
        <!-- end field label -->
        <br>
    {% endif %}
    <!-- field rendering -->
    {{ field }}

    <!-- field help-text -->
    {% if field.help_text %}
        <br>
        <small class="form-text text-muted">
            {{ field.help_text|safe }}
        </small>
    {% endif %}
    <!-- end field help-text -->

    <!-- field errors -->
    {% if field.errors and field.field.widget.input_type != 'hidden' %}
        <small class="text-danger">
            {{ field.errors }}
        </small>
    {% endif %}
    <!-- end field errors -->

    {% if field.field.widget.input_type != 'hidden' %}
    </div>
    {% endif %}
{% endfor %}
{% csrf_token %}
