{% extends 'base loggedin.html' %}

{% block title %}Mein Verein{% endblock title %}

{% block stylesheets %}
    {% load static %}
    <link rel='stylesheet' type='text/css' href='{% static "css/forms.css" %}'>
{% endblock stylesheets %}

{% block content %}
    {% block form %}
        <form method='POST' id="addfield_form">
            {{ form.as_p }}
            {% csrf_token %}
            {% block submitButton %}<input type='submit' class="btn btn-default" value='Formularfeld anlegen' id="addForm_submit">{% endblock submitButton %}
        </form>
    {% endblock form %}

    <a href="{% url 'showFormFieldsView' club=club.id %}" id="zurück_link">
        <button type="button" class="btn btn-default" style="margin-left: 4px; border-color: transparent; background-color: var(--vema-blue); color:var(--bg-color);" id="zurück_button">
            Zurück
        </button>
    </a>
{% endblock content %}