<!--Author: Max
Detailansicht einer Mannschaft-->


{% extends 'base loggedin.html' %}


{% block content %}

<p>
    <a href='{% url "home" club=club.id %}'><button class="btn btn-default" id="link_startseite">Zurück zur Startseite</button></a>
    <p><a href="{% url 'showAllTeams' club=club.id %}" id="link_team_uebersicht">Zurück zur Übersicht</a></p>
</p>

{% block form %}

<div>
    <p><label>Mannschaftsname:</label> <input type='text' value='{{ team.teamName }}' disabled='True' id="team_name"></p>
    <p><label>Vereinsname:</label> <input type='text' value='{{ team.clubId.clubname }}' disabled='True' id="club_name"></p>
    <p><label>Sportart:</label> <input type='text' value='{{ team.sportId.sportName }}' disabled='True' id="sport_name"></p>
</div>

{% block submitButton %}
<a href='{% url "editTeam" club=club.id team=team.id %}' id="edit_team_link"><button class="btn btn-default" id="edit_team_button">Bearbeiten</button></a>
<a href="{% url 'addTeamMember' club=club.id team=team.id %}" id="add_team_member_link"><button class="btn btn-default"id="add_team_member_button">Mitiglieder verwalten</button></a>
{% include 'deleteTeamPopup.html' %}
{% endblock submitButton %}

{% endblock form %}
{% endblock content %}