<!--Author: Max
Template zur Darstellung der Beitrittsanfragen/ Mitteilungen des Ausgewählten vereins
aktuell nicht in nutzung-->
{% extends 'table.html' %}

{% block aboveTable %}
<h1 style="color: rgb(0, 0, 0); text-align: center;">Benachrichtigungen</h1>
{% include 'select_club_dropdown.html' %}
{% endblock aboveTable %}

{% block tablehead %}
    <th>Name</th>
    <th>Nachname</th>
    <th>Geburtstag</th>
    <th>Art</th>
    <th>Aktionen</th>
{% endblock tablehead %}

{% block tablerows %}
    {% for clubRqu in membershipRequestNotifications %}
       {% if clubRqu.member != null %}
            <tr>
                <td id="benachichtigung_vorname_{{ forloop.counter }}">{{ clubRqu.member.Vorname }}</td>
                <td id="benachichtigung_nachname_{{ forloop.counter }}">{{ clubRqu.member.Nachname }}</td>
                <td id="benachichtigung_gebtag_{{ forloop.counter }}">{{ clubRqu.member.Geburtstag }}</td>
                <td>Beitrittsanfrage</td>
                 <td>

                    <!--Prüfen-Button für Beitrittsanfragen-->                          
                    <a href='{% url "showMembershipRequestToClubView" club=clubRqu.club.id request_data=clubRqu.number%}' id="check_request_link_{{ forloop.counter }}">
                        <button type="button" class="btn btn-default" style="margin-left: 4px; border-color: transparent; background-color: var(--vema-blue); color:var(--bg-color);" id="check_request_button_{{ forloop.counter }}">
                            Prüfen
                        </button>
                    </a>
                </td> 
            </tr>
        {% elif clubRqu.member == null %}
            <tr>
                <td id="benachichtigung_vorname_{{ forloop.counter }}">{{ clubRqu.first_name }}</td>
                <td id="benachichtigung_nachname_{{ forloop.counter }}">{{ clubRqu.last_name }}</td>
                <td id="benachichtigung_gebtag_{{ forloop.counter }}">{{ clubRqu.birthday }}</td>
                <td>Beitrittsanfrage</td>
                 <td>
                    <!--Prüfen-Button für Beitrittsanfragen-->                          
                    <a href='{% url "showMembershipRequestToClubView" request_data=clubRqu.number club=clubRqu.club.id%}' id="check_request_link_{{ forloop.counter }}">
                        <button type="button" class="btn btn-default" style="margin-left: 4px; border-color: transparent; background-color: var(--vema-blue); color:var(--bg-color);" id="check_request_button_{{ forloop.counter }}">
                            Prüfen
                        </button>
                    </a>
                </td> 
            </tr>
        {% endif %} 
    {% endfor %}
{% endblock tablerows %}
    