{% extends 'base loggedin.html' %}
{% block title %}Startseite{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        <h3>Startseite</h3>
        Hey <a href="{% url 'userData' %}">{{ user.Vorname }} {{ user.Nachname }}</a>!
        <p><a href="{% url 'password' %}">Passwort ändern</a></p>
        <p><a href="{% url 'deleteuser' %}">Konto löschen</a></p>
    {% else %}
      <h1 style="color:red">Fehler: Als nicht angemeldeter Nutzer solltest du nicht hier sein!</h1>
    {% endif %}


    {% include 'select_club_dropdown.html' %}
    <p><a href="{% url 'myclub' club=club.id %}">Mein Verein</a></p>
    <p><a href="{% url 'allclubs' %}">Übersicht aller Vereine</a></p>
    <p><a href="{% url 'showAllTeams' club=club.id %}">Mannschaftsübersicht</a></p>
    <p><a href="{% url 'club_members' club=club.id %}">Mitgliederübersicht</a></p>
    <p><a href='{% url "requestNotifications" club=club.id %}'>Mitteilungen</a></p>
{% endblock %}