<!DOCTYPE html>
<html>
  <!-- Tutorial genutzt https://www.csestack.org/add-css-static-files-django/ -->
<head>
  <meta charset="utf-8">
  <title>{% block title %}MYC{% endblock %}</title>

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  
  {% block stylesheets %}{% endblock stylesheets %}

</head>
<body>
  <div class="jumbotron text-center">
    <h1>ManageYourClub</h1>
    <p>Verwalte deinen Verein!</p> 
  </div>
  
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>