<!DOCTYPE html>
<html>
  <!-- Tutorial genutzt https://www.csestack.org/add-css-static-files-django/ -->
  <style>
    .success{
      color:white;
      background-color: rgb(3, 146, 3);
      border-radius: 10px;
    }
    .error{
      color:white;
      background-color: rgb(255, 0, 0);
      border-radius: 10px;
    }
    .info{
      color:white;
      background-color: rgb(0, 38, 255);
      border-radius: 10px;
    }
  </style>
<head>
  <meta charset="utf-8">
  <title>{% block title %}MYC{% endblock %}</title>

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  
  {% block stylesheets %}{% endblock stylesheets %}
  
  <!--Mit der folgenden Zeile werden Icons von https://fontawesome.com/ eingebunden.-->
  <script src="https://kit.fontawesome.com/5649be77c1.js" crossorigin="anonymous"></script>

  <!--Jquery und Bootstrap Skripte-->
  <script src="{% static 'js/jquery.min.js' %}" crossorigin="anonymous"></script>
  <script src="{% static 'js/bootstrap.min.js' %}" crossorigin="anonymous"></script>
  <!--Tooltips aktivieren, Tutorial: https://getbootstrap.com/docs/4.1/components/tooltips/-->
  <script>
      $(function () {
          $('[data-toggle="tooltip"]').tooltip()
      })
  </script>

</head>
<body>
  {% block leiste %}
    {% endblock leiste %}
    <h2 style="color: white;">VEMA</h2>
    <div>
      {% if messages %}
          {% for message in messages %}
          <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>
              {{ message }}
          </div>
          {% endfor %}
      {% endif %}
    </div>
  </div>
  {% block right %}
  
    {% endblock right %}
      {% block content %}
      {% endblock %}
  </main>
</body>
</html>