{% extends 'base.html' %}
{% block leiste %}
  <div class="base text-center split left vema-navbar" style="color: white; height: 100%; width: 230px; padding:0">
    
    <h2 style="color: white;">VEMA</h2>
    <a style="color: white;" href="{% url 'home' %}"><div>Benachrichtigungen</div></a>
    <a style="color: white;" href="{% url 'allclubs' %}"><div>Alle Vereine</div></a>
    {% if club %}
      <a style="color: white;" href="{% url 'club_members' club=club.id %}"><div>Mitgliederübersicht</div></a>
      <a style="color: white;" href="{% url 'myclub' club=club.id %}"><div>Mein Verein</div></a>
      <a style="color: white;" href="{% url 'showAllTeams' club=club.id %}"><div>Mannschaftsübersicht</div></a>
      <a style="color: white;" href="{% url 'showFormFieldsView' club=club.id %}"><div>Antragsformular</div></a>
    {% endif %}
    <div id="bottom-stuff">
      <a style="color: white;" href="{% url 'userData' %}"><div>Einstellungen</div></a>
      <a style="color: white;" href="{% url 'home' %}"><div>&larr; Zurück</div></a>
      <a href="{% url 'logout' %}" style="color: white;"><div>Ausloggen</div></a>
    </div>
{% endblock leiste %}

{% block right %}
<main class="right-div" style="padding:3%; width:calc(100% - 230px); left:230px;">
  <div style="font-size:21px; line-height:2.1428571435;"class="text-center">
    {% if messages %}
        {% for message in messages %}
        <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
  </div>
{% endblock right %}