<!-- Tutorial genutzt: https://getbootstrap.com/docs/4.0/components/modal/ -->
<!-- Code     genutzt: https://www.w3schools.com/bootstrap/bootstrap_modal.asp -->

{% load static %}
<script src='{% static "js/jquery.min.js" %}'></script>
<script src='{% static "js/bootstrap.min.js" %}'></script>


<!-- Trigger the modal with a button -->
{% block modal-toggle %}
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">{% block modal-toggle-text %}toggle{% endblock modal-toggle-text %}</button>
{% endblock modal-toggle %}

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered" style="padding-top: 15%;">
    
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{% block modal-headline %}Headline{% endblock modal-headline %}</h4>
            </div>
            <div class="modal-body">
                {% block modal-body %} Here goes some text. {% endblock modal-body %}
            </div>
        </div>
        
    </div>
</div>