<!--Author: Tobias-->
{% extends 'base loggedin.html' %}

{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/tables.css' %}">
{% endblock stylesheets %}

{% block content%}

    {% block aboveTable %}
        <h1 style="color: rgb(0, 0, 0); text-align: center;">{% block headline %}{% endblock headline %}</h1>
    {% endblock aboveTable %}

    <div class="table-container">
        {% block table %}
            <table class="table">
                <tr>
                    {% block tablehead %}
                    {% endblock tablehead %}
                </tr>
                {% block tablerows %}
                {% endblock tablerows %}
            </table>
        {% endblock table %}
    </div>
    
    {% block underTable %}
    {% endblock underTable %}
    
{% endblock content%}