<!--Author: Tobias-->
{% extends 'table.html' %}

{% block aboveTable %}
    {% include 'add_club_member_popup.html' %}
{% endblock aboveTable %}

{% block tablehead %}
    <th></th>
    <th>Vorname</th>
    <th>Nachname</th>
    <th>E-Mail-Adresse</th>
    <th>Funktion</th>
{% endblock tablehead %}

{% block tablerows %}
    {% for membership in memberships %}
        <tr>
            <td>{% include 'delete_club_member_popup.html' %}</td>
            <td>{{ membership.member.Vorname }}</td>
            <td>{{ membership.member.Nachname }}</td>
            <td>{{ membership.member.email }}</td>
            <td>{{ membership.memberFunction.function }}</td>
            <td><a href='{% url "edit_member" club=club.id memship=membership.pk %}'>Bearbeiten</a></td>
        </tr>
    {% endfor %}
{% endblock tablerows %}
    