{% extends 'popup.html' %}

<!-- 
    Tutorials genutzt https://www.youtube.com/watch?v=F5mRW0jo-U4&t=1358s (ab 2:14:16) 
    https://stackoverflow.com/questions/16402390/bootstrap-control-with-multiple-data-toggle#28316762 
-->
{% block modal-toggle %}
    <span data-toggle="modal" data-target="#membership{{ forloop.counter }}">
        <Button 
            type="button" 
            name="clubId" 
            data-toggle="tooltip"
            class="btn btn-default icon-button" 
            title="Mitglied {{ membership.member.user.Vorname }} Löschen" 
            value="{{ club.id }}"
            form="requestMembershipForm_{{ forloop.counter }}" id="requestMembershipButton_{{ forloop.counter }}"
        >
            <i class="fas fa-trash"></i>
        </Button>
    </span>
{% endblock modal-toggle %}

{% block modalName %}membership{{ forloop.counter }}{% endblock modalName %}

{% block modal-headline %}Mitglied Löschen{% endblock modal-headline %}

{% block modal-body %}
    <p>
        Möchtest du wirklich {{ membership.member.Vorname }} {{ membership.member.Nachname }} aus dem Verein werfen?
    </p>
    <form method='POST' id="delete_member_form"> 
        {% csrf_token %}
        <input type='hidden' name='membership' value='{{membership.pk}}'>
        {% block submitButton %}
            <input type='submit' class="btn btn-default" style="background-color:#882222; color:var(--bg-color); border-color: transparent;" value='Löschen' id="delete_member_submit_button">
        {% endblock submitButton %}
    </form>
{% endblock modal-body %}