{% extends 'table.html' %}

{% block aboveTable %}
    <h1 style="color: rgb(0, 0, 0); text-align: center;">Übersicht aller Vereine</h1>
{% endblock aboveTable %}

{% block tablehead %}
    <th>Name</th>
    <th>Gründungsjahr</th>
    <th>Adresse</th>
    <th>Mitgliedschaft</th>
{% endblock tablehead %}

{% block tablerows %}
    {% for club in clubs %}
        <tr>
            <td>{{ club.clubname }}</td>
            <td>{{ club.yearOfFoundation }}</td>
            <td>{{ club.address.streetAddress }} {{ club.address.houseNumber }}</td>
            <td>
                <!-- If else ergänzt von Max, damit Beitreten nur möglich, wenn der User nicht bereits Mitglied ist -->
                {% if club not in myClubs %}
                    <form action="{% url 'requestMembership' %}" method="post" id="requestMembershipForm_{{ forloop.counter }}">
                        {% csrf_token %}

                        <Button type="submit" name="clubId" class="btn btn-default" style="background-color: #951525; color:white;" 
                            value= {{ club.id }} form="requestMembershipForm" id="requestMembershipButton_{{ forloop.counter }}">Beitreten</Button>

                    </form>
                {% else %}
                    du bist bereits Mitglied
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock tablerows %}