{% extends 'table.html' %}

{% block headline %}Verein beitreten{% endblock headline %}

{% block tablehead %}
    <th>Name</th>
    <th>Gründungsjahr</th>
    <th>Adresse</th>
    <th>Mitgliedschaft</th>
{% endblock tablehead %}

{% block tablerows %}

    <!-- If else ergänzt von Max, damit Beitreten nur möglich, wenn der User nicht bereits Mitglied ist -->
    {% for club in clubs %}
        <tr>
            <td id="clubname_{{ forloop.counter }}">{{ club.clubname }}</td>
            <td id="clubyear_{{ forloop.counter }}">{{ club.yearOfFoundation }}</td>
            <td id="clubadress_{{ forloop.counter }}">{{ club.address.streetAddress }} {{ club.address.houseNumber }}</td>
            <td>
                {% if club not in myClubs %}
                    <form action="{% url 'requestMembership' %}" method="post" id="requestMembershipForm_{{ forloop.counter }}">
                        {% csrf_token %}
                        <Button 
                            type="submit" 
                            name="clubId" 
                            class="btn btn-default icon-button" 
                            data-toggle="tooltip"
                            title="Mitgliedschaftsantrag an {{ club.clubname }}" 
                            value="{{ club.id }}"
                            form="requestMembershipForm_{{ forloop.counter }}" id="requestMembershipButton_{{ forloop.counter }}"
                        >
                            <i class="fas fa-sign-in-alt"></i>
                        </Button>
                    </form>
                    


                    
                {% else %}
                    du bist bereits Mitglied
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock tablerows %}


{% block underTable %}
    <a href='{% url "addclub" %}' id="addclub_link">
        <button type="button" class="btn btn-default" style="margin-left: 4px; border-color: transparent; background-color: var(--vema-blue); color:var(--bg-color);" id="addclub_button">
            {% block modal-toggle-text %}Verein erstellen{% endblock modal-toggle-text %}
        </button>
    </a>
{% endblock underTable %}