{% extends 'base.html' %}

{% block content%}

<h1 style="color: rgb(0, 0, 0); text-align: center;">Übersicht aller Vereine</h1>
<br>
    <table class="table" >
        <tr>
            <th>Name</th>
            <th>Gründungsjahr</th>
            <th>Adresse</th>
        </tr>
        {% for club in clubs %}
            <tr>
                <td>{{ club.clubname }}</td>
                <td>{{ club.yearOfFoundation }}</td>
                <td>{{ club.address.streetAddress }} {{ club.address.houseNumber }}</td>
            </tr>
        {% endfor %}
    </table>

    <p>
        <a href='{% url "home" %}'><button class="btn btn-default">Zurück zur Startseite</button></a>
    </p>
{% endblock content%}