{% extends 'new_club.html' %}
<!-- Tutorial genutzt: https://www.geeksforgeeks.org/detailview-class-based-views-django/ -->
<!-- Tutorial genutzt: https://stackoverflow.com/questions/17200389/how-to-use-the-href-attribute-in-django-templates#17200402 -->
<!-- Tutorial genutzt: https://stackoverflow.com/questions/46003056/how-to-make-delete-button-in-django#46006826 -->
<!-- Tutorial genutzt: https://www.youtube.com/watch?v=F5mRW0jo-U4&t=1358s (2:58:24) -->

{% block form %}

{% include 'select_club_dropdown.html' %}

<a href='{% url "addclub" %}' id="addclub_button">+</a>
<div>
    <p><label>Vereinsname:</label> <input type='text' value='{{ club.clubname }}' disabled='True' id="clubname"></p>
    <p><label>Gründungsjahr:</label> <input type='text' value='{{ club.yearOfFoundation }}' disabled='True' id="clubyear"></p>
    <p><label>Straße:</label> <input type='text' value='{{ club.address.streetAddress }}' disabled='True' id="clubstreet"></p>
    <p><label>Hausnummer:</label> <input type='text' value='{{ club.address.houseNumber }}' disabled='True' id="clubhousenr"></p>
    <p><label>PLZ:</label> <input type='text' value='{{ club.address.postcode.postcode }}' size='7' disabled='True' id="clubplz"></p>
    <p><label>Ort:</label> <input type='text' value='{{ club.address.postcode.village }}' disabled='True' id="clubcity"></p>

    {% block submitButton %}
        <a href='{% url "editclub" club=club.id %}'><button class="btn btn-default" id="bearbeiten_link">Bearbeiten</button></a>
        {% include 'delete_club_popup.html' %}
    {% endblock submitButton %}
</div>
{% endblock form %}
